# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("Ahmed", 48, True, 58.5)

Ahmed 48 True 58.5

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [3]:
print("Ahmed", 48, True, 58.5, sep="-")

Ahmed-48-True-58.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [5]:
print("Ahmed", end=" ")
print(48, end=" ")
print(True, end=" ")
print(58.5, end=" ")

Ahmed 48 True 58.5

4) Can a python print function take no value to print???

In [6]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [11]:
# 5
fr_name = "Mr. Ahmed"
fr_age = 30
profession = "Lawyer"
Grad_year = 2005
Job_year = 2015
Current_year = 2024
Height = 5.1
Weight = 70600
Salary = 200000

# 6
Grad_comp = Current_year - Grad_year
print(f"Mr. Ahmed is graduated {Grad_comp} years ago")

Work_year = Current_year - Job_year
print(f"Mr. Ahmed is working for {Work_year} years")

Mr. Ahmed is graduated 19 years ago
Mr. Ahmed is working for 9 years

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [16]:
Weight = 70600
type(Weight)
conv_weight = 70600/1000
print(conv_weight)

70.6

In [22]:
#11) print the year of birth of Mr. Ahmed.
birth_year = current_year - age
birth_year

1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [ ]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

0

In [18]:
equal = 100%6
print(equal)

4